<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865560457699-9jpgnh6gu51fab1sqml9rho9jker0kq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865560457699-9jpgnh6gu51fab1sqml9rho9jker0kq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDr7Vgj_Ummrtj2drESywlZZNBKq_bO4Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>865560457699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taimoor.perfumeproject</string>
	<key>PROJECT_ID</key>
	<string>perfumesrnproject</string>
	<key>STORAGE_BUCKET</key>
	<string>perfumesrnproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865560457699:ios:2de1b8e2fe0cad63f270d6</string>
	<key>DATABASE_URL</key>
	<string>https://perfumesrnproject.firebaseio.com</string>
</dict>
</plist>